extends layout


block content
  <script src="\public\javascripts\author_search.js"></script>
  h1= title

  input#author_search(type="text", name="search", placeholder="Search authors...", autocomplete="off")
    

  ul#author_list
    each author in author_list
      li
        a(href=author.url) #{author.name}
        |  (#{author.lifespan})

    else
      li There are no authors.